In [2]:
import pandas as pd

pred_valid = pd.read_csv('output/ensemble_pred_valid.csv')
pred_valid.head()

                  gameid         teamname  win_pred
0  ESPORTSTMNT02_3226664            Fluxo  0.701802
1  ESPORTSTMNT02_3226664  Vivo Keyd Stars  0.813880
2  ESPORTSTMNT02_3225650  Vivo Keyd Stars  0.374596
3  ESPORTSTMNT02_3225650            Fluxo  0.810145
4  ESPORTSTMNT02_3226687  Vivo Keyd Stars  0.395691

In [3]:
pred_test = pd.read_csv('output/ensemble_pred_test.csv')
pred_test.head()

            gameid             teamname  win_pred
0  LOLTMNT02_66852  Hanwha Life Esports  0.674337
1  LOLTMNT02_66852     Kwangdong Freecs  0.129516
2  LOLTMNT02_67822  Hanwha Life Esports  0.552266
3  LOLTMNT02_67822     Kwangdong Freecs  0.480522
4  LOLTMNT02_67823  Hanwha Life Esports  0.661443