In [56]:
import pandas as pd
import numpy as np

jh_pred_valid = pd.read_csv('output/jh_pred_valid.csv')
jh_pred_valid.head()

                  gameid         teamname  win_pred
0  ESPORTSTMNT02_3226664            Fluxo  0.701802
1  ESPORTSTMNT02_3226664  Vivo Keyd Stars  0.813880
2  ESPORTSTMNT02_3225650  Vivo Keyd Stars  0.374596
3  ESPORTSTMNT02_3225650            Fluxo  0.810145
4  ESPORTSTMNT02_3226687  Vivo Keyd Stars  0.395691

In [57]:
hj_pred_valid = pd.read_csv('output/hj_pred_valid.csv')
hj_pred_valid.head()

                  gameid         teamname  win_pred
0  ESPORTSTMNT02_3226664            Fluxo  0.833599
1  ESPORTSTMNT02_3226664  Vivo Keyd Stars  0.947176
2  ESPORTSTMNT02_3225650  Vivo Keyd Stars  0.401589
3  ESPORTSTMNT02_3225650            Fluxo  0.832188
4  ESPORTSTMNT02_3226687  Vivo Keyd Stars  0.448997

In [58]:
jh_pred_test = pd.read_csv('output/jh_pred_test.csv')
jh_pred_test.head()

            gameid             teamname  win_pred
0  LOLTMNT02_66852  Hanwha Life Esports  0.674337
1  LOLTMNT02_66852     Kwangdong Freecs  0.129516
2  LOLTMNT02_67822  Hanwha Life Esports  0.552266
3  LOLTMNT02_67822     Kwangdong Freecs  0.480522
4  LOLTMNT02_67823  Hanwha Life Esports  0.661443

In [59]:
hj_pred_test = pd.read_csv('output/hj_pred_test.csv')
hj_pred_test.head()

            gameid             teamname  win_pred
0  LOLTMNT02_66852  Hanwha Life Esports  0.552607
1  LOLTMNT02_66852     Kwangdong Freecs  0.104942
2  LOLTMNT02_67822  Hanwha Life Esports  0.549287
3  LOLTMNT02_67822     Kwangdong Freecs  0.812900
4  LOLTMNT02_67823  Hanwha Life Esports  0.567584

In [60]:
len(jh_pred_valid), len(hj_pred_valid), len(jh_pred_test), len(hj_pred_test)

(2114, 2114, 2324, 2324)

In [61]:
train_target = pd.read_csv("LoLesports_data/teams_train_target.csv")
test_target = pd.read_csv("LoLesports_data/teams_test_target.csv")
valid_target = pd.read_csv("output/valid_target.csv")

len(train_target), len(test_target), len(valid_target)

(9913, 2324, 2114)

In [62]:
from sklearn.metrics import accuracy_score, roc_auc_score

pred_valid = np.mean([jh_pred_valid["win_pred"], hj_pred_valid["win_pred"]], axis=0)
pred_valid

array([0.76770048, 0.88052793, 0.38809258, ..., 0.49727474, 0.44661698,
       0.93445602])

In [63]:
target_valid = valid_target["result"].to_numpy()
accuracy_score(target_valid, (pred_valid > 0.5).astype(int)), roc_auc_score(target_valid, pred_valid)

(0.7956480605487228, 0.8947253947227096)

In [64]:
pred_test = np.mean([jh_pred_test["win_pred"], hj_pred_test["win_pred"]], axis=0)
pred_test

array([0.61347229, 0.11722886, 0.55077656, ..., 0.44158264, 0.51715923,
       0.54029419])

In [65]:
target_test = test_target["result"].to_numpy()
accuracy_score(target_test, (pred_test > 0.5).astype(int)), roc_auc_score(target_test, pred_test)

(0.76592082616179, 0.8583059307974878)